/*id takes priority when conflicting changes occur*/
body{background-color:lightgrey; border:2px solid yellow;}

/**/
.zone{border: 2px solid;  padding: 5px;} /**/

.hidden{
  display:none;
}

#superDiv{
  border: 2px solid lightyellow;

  position: absolute;
  left: 10px;

  height: 580px;
  width:1150px;
}
