/*id takes priority when conflicting changes occur*/
body{background-color:lightgrey;}

/**/
.zone{border: 2px solid;  padding: 5px;} /**/

.boardObj{

}

.boardObj{
  position:absolute;

  font-size: 30px;

  width: 40px;
  height:40px;
}

#superDiv{
  backgound-color: red;
  z-index: -5;

  height: 580px;
  width:1150px;
}
