#imZone{
  position:absolute;
  top:0px;

  width:1200px;
  height:600px;

  background-color: rgba(0,0,255,0.5);
}

#imExitButton{
  position:absolute;
  left:580px;

  width:20px;
  height:20px;
}

#imTitle{
  font-size:30px;

  position:absolute;
  top: -20px;
  left:50px;

  height:50px;
  width: 500px;
}

#imTxtContainer{
  width:100%;
  height:100%;
}

#imView{
  position:relative;
  left:250px;
  top:100px;

  background-color: yellow;
  width:600px;
  height:400px;
}

#imUpdateButton{
  position: absolute;
  left:500px;
  top:350px;

  width: 80px;
  height: 80px;
}

#imCxnTable{
  position:absolute;
  top:65px;
  left:20px;

  width: 100px;
  height:300px;

  overflow:auto;
}
#imCxnView{
  position: absolute;
  top:0px;
  left:25px;

  width:60px;

  list-style-type: none;
}

#imDBView{
  position: absolute;
  top:0px;
  left:0px;

  width:10px;

  list-style-type: none;
}


#imValView{
  position: absolute;
  left:140px;
  top: 65px;
  width:450px;
  height:300px;
}
