#imZone{
  position:absolute;
  top:0px;

  width:1200px;
  height:600px;

  background-color: rgba(0,0,255,0.5);

  z-index:10;
}

#imBackButton{
  position:absolute;
  left:480px;
  top: 45px;

  width:40px;
  height:20px;
}

#imForwardButton{
  position:absolute;
  left:540px;
  top: 45px;

  width:40px;
  height:20px;
}

#imTitle{
  font-size:30px;

  position:absolute;
  top: -20px;
  left:50px;

  height:50px;
  width: 500px;
}

#imTxtContainer{
  width:100%;
  height:100%;

  font-size: 25px;
}

#imView{
  position:relative;
  left:250px;
  top:100px;

  background-color: yellow;
  width:600px;
  height:400px;
}

#imUpdateButton{
  position: absolute;
  left:480px;
  top:360px;

  width: 80px;
  height: 80px;
}

#imValView{
  position: absolute;
  top:45px;
  left:10px;

  width:450px;
  height:320px;
}

#imCxnTable{
  position:absolute;

  left:480px;
  top: 85px;

  width: 100px;
  height:250px;

  overflow-x:auto;
}
#imCxnView{
  position: absolute;
  top:0px;
  left:25px;

  list-style-type: none;
}

#imDBView{
  position: absolute;
  top:0px;
  left:0px;

  width:10px;

  list-style-type: none;
}
