.note{
  position: absolute;
  width: 130px;
  height: 130px;

  font-size: 30px;
  text-align: center;

  background-color:lightpink;

  border: 3px solid darkgreen;

  overflow:hidden;
}

.line{
  position:absolute;
  left:400px;
  top:50px;

  height:500px;
  width:10px;

  border:1px solid yellow;
}

.selected{
  border: 5px dashed brown;
}

.located{
  background-color:pink;
  z-index: 9;
}
