.boardObj{
  position: absolute;
  width: 100px;
  height: 100px;

  font-size: 30px;
  text-align: center;

  background-color:lightpink;
}

#board{
  position: relative;
  border: 2px solid magenta;
  width:inherit;
  height:inherit
}

#bg{
  position:relative;
}

#boardContainer{
  width: 2000px;
  height: 2000px;

  overflow: hidden;
}
#boardView{
  position: absolute;
  left: 15px;
  top: 30px;

  width: 1100px;
  height:550px;

  overflow:hidden;
}
