#optionsToggleButton{
  position: relative;
  left: 1080px;
  top: 50px;

  width : 70px;
  height: 70px;

  background-image: url('pics/num0.png');
}

#searchBox{
  position:relative;
  left:5px;
  top: 5px;
}

#optionView{
  position: relative;
  top: 50px;
  left:900px;

  width: 200px;
  height:300px;

  background-color: lightblue;
}

.resultList{
  position: relative;

  left: 20px;

  font-size: 30px;
}

#resultsContainer{
  position: relative;
  top: 0px;
  left:-35px;

  height:70%;
  width:inherit;

  overflow-y:auto;
  overflow-x:hidden;
}
