#optionsToggleButton{
  position: relative;
  left: 1080px;
  top: -300px;

  width : 70px;
  height: 70px;

  background-image: url('pics/num0.png');
}

#optionView{
  position: relative;
  top: 50px;
  left:900px;

  width: 200px;
  height:300px;

  overflow: auto;

  background-color: lightblue;
}

#resultsContainer{
  position: relative;
  top: 10px;

  width: 1000px;
  height: 1000px;

  border-color: cyan;
}
